.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 20px;
  background-color: bisque;
}
.login-button{
  padding: 15px 22px;
  cursor: pointer;
  margin: 15px 20px;
}
.username-input{
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  margin: 15px 20px;
}
.password-input{
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  margin: 15px 20px;
}


